body {
    background-image: url("../image/bg-repeat.jpg");
    background-size: contain;
    height: 100vh;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .information{
    color: #fff;
    max-width: 300px;
    margin: 0 60px;
}
.container .information h1{
    font-size: 2rem;
    font-weight: 900;
}
.container .information p{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 11px;
}

.container .form{
    background-color: #fff;
    width: 340px;
    min-height: 378px;
    border-radius: 15px;
}
.container .form .campos{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.container .form .campos input{
    height: 35px;    
}
.container .form .campos .itens{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 8px;
    color: #A8A8A8;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 0 20px;
    margin-bottom: 15px;
}
.container .form .campos textarea.itens{
    margin-bottom: 0;
}
.container .form .campos .itens.preenchido-correto{
    border-color: #00C22B;
}
.container .form .campos .itens.preenchido-errado{
    border-color: #F52E2E;
    margin-bottom: 0;
}

.container .form .campos .mensagem-campo-obrigatorio{
    display: none;
}

.container .form .campos .mensagem-campo-obrigatorio.ativo{
    font-size: 1rem;
    color: #F52E2E;
    font-weight: 400;
    margin: 0 20px;
    margin-bottom: 7px;
    display: block;
}
.container .form .campos p{
    font-size: 1.5rem;
    margin: 7px 20px 15px;
    color: black;
    font-weight: 400;
    
}
.container .form .campos button#button-submit{
    font-size: 1.5rem;
    font-weight: 700;
    height: 41px;        
    border: none;
    border-radius: 5px;
    margin: 0 20px;
    color: #fff;
    background-color: #3CCC87;
    cursor: pointer;
}
/* .container .form .campos p.itens{
    height: 41px;    
    border: none;
    color: #fff;
    background-color: #3CCC87;
    text-align: center;
    padding: 11px 0;
} */